/* .progressPointer{
    border-left: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    left: -1%;
    top: 100%;
} */